@use '../../styles'

.stepper
    background-color: rgba(0, 106, 97, 0.08)

.stepper-form
    display: flex
    flex-direction: column
    align-items: center

.stepper-form-button
    @include styles.green-button()

.stepper-form-component
    width: 100%
        
