/* You can add global styles to this file, and also import other style files */

@mixin green-button()
    background-color: #006A61
    border-radius: 30px
    color: #ffff
    width: 90%
    height: 48px
    border: none
    margin-top: 50px

@mixin form-style()
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    gap: 32px

    
